{% extends 'base1.html' %}

{% block body %}
<center>
<h1 class="heading">AIPPM &nbsp; Committee</h1>
<p class="p2"><strong>All India Political Party Meet</strong><br>
  The All India Political Parties Meet is a venture to emulate political realities by stimulating the various levels of
   policy and governance existing in our nation today. Participants are allotted specific political parties, which they
   represent. AIPPM is a forum for unrestricted political debate, discussion and deliberation, free from the legislative
   functions of the parliament.
</p>
</center>
{% endblock body %}
