{% extends 'base1.html' %}

{% block body %}
<center>
<h1 class="heading">Crisis &nbsp;Committee</h1>
<p class="p2"><strong>Crisis</strong><br>
  A crisis committee is a decision making body that has more power than a traditional committee. Whilst General Assemblies
  recommend and build consensus, focusing on creating and refining frameworks for the nations party to align their actions,
  crisis committees produce action. Crisis is also more dynamic and fast-paced than traditional committees, so each delegate
  is incredibly influential. In your preparation, it is helpful to understand the committee’s basic history and scope of power,
  as found in the background guide.
</p>
</center>
{% endblock body %}
