{% extends 'base1.html' %}

{% block body %}
<center>
<h1 class="heading">IP &nbsp; Committee</h1>
<p class="p2"><strong>International Press</strong><br>
  Everyone has the right to freedom of opinion and expression; this right includes freedom to hold opinions without
   interference and to seek, receive and impart information and ideas through any media and regardless of frontiers.
   <strong>Article 19</strong>, Universal Declaration of Human Rights Instead of representing the interests of a single
    country, the International Press Delegation allows participants to act as unbiased journalists,
    reporting on the proceedings of each simulation in the Conference. You will investigate committee debates,
    conduct interviews, edit articles, and cover press conferences.
</p>
</center>
{% endblock body %}
