{% extends 'base1.html' %}

{% block body %}
<center>
<h1 class="heading">UNGA &nbsp; Committee</h1>
<p class="p2"><strong>United Nations General Assembly</strong><br>
UNGA is one of the six principal organs of the United Nations. The UN General Assembly (UNGA) is the main policy-making
organ of the Organization. Comprising all Member States, it provides a unique forum for multilateral discussion of the
full spectrum of international issues covered by the Charter of the United Nations. The General Assembly will address dozens
of other critical global issues and bring them to the forefront of the global geopolitical scene.
</center>
</p>
{% endblock body %}
