{% extends 'base1.html' %}

{% block body %}
<center>
<h1 class="heading">UNHRC &nbsp; Committee</h1>
<p class="p2"><strong>United Nations Human Right Council</strong><br>
  The Human Rights Council is an inter-governmental body within the United Nations system made up of 47 States responsible
  for the promotion and protection of all human rights around the globe. It has the ability to discuss all thematic human
  rights issues and situations that require its attention throughout the year.
</p>
</center>
{% endblock body %}
